<div class="container">
    <div class="mt-1">
        <h2>About Us</h2>
    </div>
    <div class="fs-6">
        <p>
            DASRA Soaps is MSME registered company to manufacture hand made soaps and classical oils.
        </p>
        <p>
            Here we produce natural hand made soaps and sell out to our customers across states using online platform.
        </p>
        <p>
            Our aim is to provide high quality soaps that are natural and not harmful to environment.
        </p>
        
    </div>
    <div>
        <h2>Contact Details</h2>
        <div class="row mt-1">
            <div class="col-md-6">
                <div class="entry">
                    <h3>Vempati Sasi Kumar </h3>
                    <p>
                        <strong>Phone:</strong>&nbsp;+91 9573532034<br>
                        <strong>Email</strong>: <a href="mailto:sasikumarvempati@gmail.com">sasikumarvempati@gmail.com</a><br>
                    </p>
                    <p><strong>Address:</strong><br/>
                    D-NO: 1-179/12, YS Reddy Function Hall Road<br/> 
                        PNT Colony, Paipula Road,<br/> 
                        Vijayawada - 520012
                    </p>
    
            
                </div>
            </div>
            <div class="col-md-6">
                <div id="s8-thirdpartygooglemap1" style="position: relative;width: 100%; height: 408px;">    
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1025.2288434517923!2d80.63792036593054!3d16.550574326244003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35e57bd3bb919d%3A0x2f6dd4af8f3f0e27!2sV.%20V.%20S.%20K!5e0!3m2!1sen!2sin!4v1683663230890!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>