<div class="container mt-1">
    <h2>Benefits of using Natural Handmade Soap</h2>
    <div class="mt-2">
        <mat-accordion multi>
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                       1. It only use natural ingredients (No chemicals and synthetics)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Each handmade soap bar is made with skin-nourishing natural oils, organic herbs, seeds, etc. according to different skin types.
                    Since handmade soaps are made in small batches, due attention is given to their ingredients.
                    The end result is that the natural soaps are better, gentler and immaculately perfect for your skin. 
                    This is the reason why the natural soap business is proliferating in recent years.
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        2. It moisturizes skin better and longer with glycerin
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    A type of fat naturally found in plants, glycerin organically hydrates and keeps the skin soothed.
                    Many commercial soap companies remove the glycerin from their products to increase their shelf life.
                    If the soap label says body wash or body bar, it may be a detergent.
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        3. Environment friendly and It's not harmful to waterways
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    As the natural soaps include only natural extracts, they are biodegradable and do not release any harmful chemicals to deteriorate our beloved planet. 
                    The natural ingredients thus do a double benefit for your skin and also help in prevention of the environment.
                    Meanwhile, the synthetic ingredients in commercial soaps, such as phosphorus, drain into rivers and lakes and harm fish and other living things.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        4. Treat your skin with amazing nourishment
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Try it yourself and see. Once you begin using organic soaps benefits, you will see a different glow in your skin and it will thank you for that.
                    The natural ingredients will keep the skin nourishment intact and benefit your skin immensely.
                    Whether you have dry skin or sensitive skin, using natural soaps is always better than going for chemical soaps.
                    The ingredients used to make natural soaps have elements that prevent skin harshness and antioxidants as well.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        5. Maintaining the pH levels
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    To keep the skin nourishment intact, it is important that the soaps maintain the pH level of the skin.
                    Nature 2 nature soaps maintain the pH level around 9-10 as that level as it is naturally alkaline.
                    Moreover, the organic soap benefits the skin as it has coconut oil which moisturizes the skin in a better way.
                    In addition, the nature rich soaps are better cleanser than their chemical counterparts
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        5. Not a detergent, actually a soap
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Yes, the majority of the branded soaps that you see in the market are harmful detergents.
                    On the other hand, handmade soaps still use the traditional method of soap-making which make them a cut above the rest.
                    Along with being harsh for your skin, the chemical soaps can cause greater damages like disrupting human hormones, disrupting the reproductive system, etc.
                    That is why one should use natural soap and save themselves from these hazardous results.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>